<!-- partial:./base/_head.html -->
<!-- partial -->
<div id="main-wrapper" >
	<!-- partial:./components/_floating-header.html --> 
    <!-- partial -->
    <main id="main-pages">
    	<div class="section">
    		<!-- partial:./components/_cover-home.html --> 
        	<!-- partial -->
    	</div>
    	<div class="section">
    		<!-- partial:./components/_cover-back-1.html --> 
        	<!-- partial -->
    	</div>
    </main>
</div>
<!-- partial:./base/_loader.html -->
<!-- partial -->
<!-- partial:./base/_footer.html -->
<!-- partial -->