<!-- partial:./base/_head.html -->
<!-- partial -->
<div id="main-wrapper" >
    <div id="main-navigation">
        <div class="nav-top-links">
          <!-- partial:./components/_lang-switcher.html -->
          <!-- partial -->
          <div class="navigation-trigger">
            <div class="hamburger-menu">
              <svg class="burger-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.8 29.8" width="30px" height="30px">
                <g class="close fill-secondary">
                  <path d="M21.7 22.1l-14-14c-.1-.1-.1-.3 0-.4.1-.1.3-.1.4 0L22 21.6c.1.1.1.3 0 .4 0 .2-.2.2-.3.1z"></path>
                  <path d="M22.1 8.1l-14 14c-.1.1-.3.1-.4 0-.1-.1-.1-.3 0-.4l14-14c.1-.1.3-.1.4 0 .1.1.1.3 0 .4z"></path>
                </g>
                <g class="open fill-secondary">
                  <path d="M24.8 8.3H5c-.2 0-.3-.1-.3-.3 0-.2.1-.3.3-.3h19.8c.2 0 .3.1.3.3 0 .2-.1.3-.3.3z"></path>
                  <path d="M24.8 15.2H5c-.2 0-.3-.1-.3-.3 0-.2.1-.3.3-.3h19.8c.2 0 .3.1.3.3 0 .2-.1.3-.3.3z"></path>
                  <path d="M24.8 22.1H5c-.2 0-.3-.1-.3-.3 0-.2.1-.3.3-.3h19.8c.2 0 .3.1.3.3 0 .1-.1.3-.3.3z"></path>
                </g>
                <!-- <path class="circle" d="M14.9 29.8C6.7 29.8 0 23.1 0 14.9S6.7 0 14.9 0s14.9 6.7 14.9 14.9-6.7 14.9-14.9 14.9zm0-29.3C6.9.5.5 7 .5 14.9c0 8 6.5 14.4 14.4 14.4s14.4-6.5 14.4-14.4c0-8-6.4-14.4-14.4-14.4z" fill="url(#icon_circle_grad)"></path> -->
              </svg>
            </div>
          </div>
        </div>
        <div class="navigation-holder">
          <ul class="nav-list">
            <li><a href="./" onclick="UB.closeNavigation()">Home</a></li>
            <li><a href="./construction.html" onclick="UB.closeNavigation()">Construction</a></li>
            <li><a href="./IT.html" onclick="UB.closeNavigation()">IT</a></li>
            <li><a href="./IT.html" onclick="UB.closeNavigation()">Case Studies</a></li>
            <li><a href="./vlog.html" onclick="UB.closeNavigation()">Vlog</a></li>
          </ul>
        </div>
    </div>
    <main id="main-pages">
        <div class="section" >
            <!-- partial:./components/_cover-IT-a.html --> 
            <!-- partial -->
        </div>
    	<div class="section" >
            <!-- partial:./components/_cover-IT-b.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-c.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-d.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-e.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-f.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-g.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-h.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-i.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-j.html --> 
            <!-- partial -->
        </div>
        <div class="section" >
            <div class="slide">
                <!-- partial:./components/_cover-IT-k.html --> 
                <!-- partial -->
            </div>
            <div class="slide">
                <!-- partial:./components/_cover-IT-l.html --> 
                <!-- partial -->
            </div>
            <div class="slide">
                <!-- partial:./components/_cover-IT-m.html --> 
                <!-- partial -->
            </div>
            <div class="slide">
                <!-- partial:./components/_cover-IT-n.html --> 
                <!-- partial -->
            </div>
            <div class="slide">
                <!-- partial:./components/_cover-IT-o.html --> 
                <!-- partial -->
            </div>
        </div>
        <div class="section" >
            <!-- partial:./components/_cover-IT-p.html --> 
            <!-- partial -->
        </div>
        <div class="section">
            <!-- partial:./components/_cover-back-1.html --> 
            <!-- partial -->
        </div>

    </main>
</div>
<!-- partial:./base/_loader.html -->
<!-- partial -->
<!-- partial:./base/_footer.html -->
<!-- partial -->