<div id="CoverA" class="cover bg-contain detect-animate" data-animation="fade-in">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-office1.jpeg"></div>
	</div>
	<div class="cover-content">
		<div class="content-holder cover-flap cover-flap-b">
			<div class="side-flap bg-light detect-animate" data-animation="from-left">
				<div class="logo">
					<a href="">
						<!-- partial:./graphical-assets/_logo-symbol.html --> 
       			 		<!-- partial -->
					</a>
				</div>
				
				<div class="page-number ft-secondary">
					<span class="number text-dark">
						<strong>1.</strong>
					</span>
					<a href="" class="text-dark  link">www.urbanbeaver.dk</a>
				</div>
			</div>
			<article class="article-content">
				<div>
					<h2 class="h1 text-black">A Little About Us</h2>
					<div class="bg-primary p-3 p-md-5 text-light detect-animate" data-animation="from-bottom-elements-lazy">
						<p>A business building is far more than just a room for people to work in - it also reflects yours business against the outside world.</p>
						<p>The building must represent your business when there are visitors and must at the same time particularly satisfy the functional and comfort requirements of the employees.</p>
						<p><strong>Urban Beaver takes up the challenge!</strong></p>
					</div>	
				</div>
				
			</article>
		</div>
	</div>
	
</div>