<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-casestudies6.jpg"></div>
	</div>
	<div class="cover-content align-content-left">
		<div class="content-holder cover-flap cover-flap-cols">
			<div class="col bg-secondary-fade max-sm-45">
						<div class="title-holder holder-format-row">
							<h2 class="text-white mb-0 title">
								<span><span>Implemented</span></span>
								<span><span>Solution</span></span> 
							</h2>
							<hr class="primary my-1">
						</div>
			</div>
			<div class="col bg-primary-fade">
				
					<div class="article-holder text-white">
						<p class="vw-large">The crux of the solution was to capture more leads and increase the conversion rates. </p>
						<p class="mt-5">A new website powered by Wordpress was built with an ecosystem of plugins addressing several business needs and goals. </p>
					</div>
				
			</div>
		</div>
	</div>
	
</div>