<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT1.jpg"></div>
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols title-content-fashion">
      <div class="col bg-primary-fade max-sm-45">
        <div class="title-holder holder-format-row">
          <h2 class="text-white mb-0 title">
            <span><span>Javascript</span></span>
          </h2>
          <hr class="black my-1">
        </div>
      </div>
      <div class="col bg-secondary-fade ">
        <div class="article-holder text-white">
          <p class="vw-large">The most popular scripting language on the planet right now. If you have never heard it you are probably from Mars. With all the major technology giants like Facebook, Google etc investing a fair share of their intellect in building some of the most popular frameworks like ReactJS and AngularJS, it should come as a no-brainer that JS is our primary choice for front-end applications as well as general front-end development. </p>
          <p>There are also a bunch of other languages, primarily frontend related such as HTML, CSS etc but we are not going to highlight them here since any company providing online software development services are bound to know them primarily because these languages have no competitors or replacements. </p>
        </div>
      </div>
    </div>
  </div>
</div>
