<div class="cover bg-contain detect-animate" data-animation="fade-in">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT4.jpg"></div>
  </div>
  <div class="cover-content">
    <div class="content-holder cover-flap cover-flap-b">
      <div class="side-flap bg-light detect-animate" data-animation="from-left">
        <div class="logo">
          <a href="">
            <!-- partial:./graphical-assets/_logo-symbol.html -->
            <!-- partial -->
          </a>
        </div>
        <!-- <div class="page-number">
          <span class="text-dark  link ft-strong">About Us</span>
        </div> -->
      </div>
      <article class="article-content bg-primary-fade">
        <div class="text-light pr-sm-4">
          <p class="detect-animate mt-4" data-animation="fade-in">We could go on bragging about several other technology relevant topics such as</p>
          <!-- <ul class="text-light detect-animate" data-animation="from-bottom-elements-lazy">
            <li><strong>Build technologies</strong> we employ to improve our coding efficiency,</li>
            <li><strong>Version control technologies</strong> that seamlessly manage multiple team members working from different locations physically as well as within the context of the project,</li>
            <li><strong>Software development methodologies</strong> that adapt to the client size and nature to make sure of on-time, quality deliverables,</li>
            <li><strong>Technology frameworks</strong> we employ to provide robust solutions and save time,
            </li>
            <li><strong>Database technologies</strong> that are deployed based on the nature of the business data and the operations on it,</li>
            <li><strong>3rd API technologies</strong> that are chosen based on the requirement,
            </li>
            <li><strong>Testing frameworks</strong> and conventions followed within the company to ensure that your software looks good, both on the front-end as well as back-end,</li>
          </ul> -->
          <div class="accordian-wrapper arrow-theme mb-3 detect-animate" data-animation="from-bottom-elements-lazy">
            <div class="accordian-item">
              <div class="accordian-trigger">Build technologies</div>
              <div class="accordian-panel">
                <p>We employ to improve our coding efficiency.</p>
              </div>
            </div>
            <div class="accordian-item">
              <div class="accordian-trigger">Version control technologies</div>
              <div class="accordian-panel">
                <p>that seamlessly manage multiple team members working from different locations physically as well as within the context of the project.</p>
              </div>
            </div>
            <div class="accordian-item">
              <div class="accordian-trigger">Software development methodologies</div>
              <div class="accordian-panel">
                <p>That adapt to the client size and nature to make sure of on-time, quality deliverables.</p>
              </div>
            </div>
            <div class="accordian-item">
              <div class="accordian-trigger">Technology frameworks</div>
              <div class="accordian-panel">
                <p>We employ to provide robust solutions and save time.</p>
              </div>
            </div>
            <div class="accordian-item">
              <div class="accordian-trigger">Database technologies</div>
              <div class="accordian-panel">
                <p>That are deployed based on the nature of the business data and the operations on it.</p>
              </div>
            </div>
            <div class="accordian-item">
              <div class="accordian-trigger">3rd API technologies</div>
              <div class="accordian-panel">
                <p>That are chosen based on the requirement.</p>
              </div>
            </div>
            <div class="accordian-item">
              <div class="accordian-trigger">Testing frameworks</div>
              <div class="accordian-panel">
                <p>And conventions followed within the company to ensure that your software looks good, both on the front-end as well as back-end.</p>
              </div>
            </div>
          </div>
          <p class="text-light detect-animate" data-animation="from-bottom" data-hook="onEnter">Seriously, we could just go on and on - but is that what you want ? <br>
            No ? We thought so.<br>
            Yes ? Well then you must be a seasoned veteran who really is into - what is it that makes us different ! Thank you for your interest. We can save a lot of time if you would just call us at <a href="" class="text-light"><strong>+919995438403</strong></a> and go head-to-head with our technology chief.
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
