<div class="cover bg-contain detect-animate" data-animation="fade-in">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-office1.jpeg"></div>
  </div>
  <div class="cover-content">
    <div class="content-holder cover-flap cover-flap-b">
      <div class="side-flap bg-light detect-animate" data-animation="from-left">
        <div class="logo">
          <a href="">
            <!-- partial:./graphical-assets/_logo-symbol.html -->
            <!-- partial -->
          </a>
        </div>
        <!-- <div class="page-number">
					<span class="text-dark  link ft-strong">About Us</span>
				</div> -->
      </div>
      <article class="article-content bg-primary-fade">
        <div>
          <div class="text-light detect-animate pr-3 pr-lg-5" data-animation="from-bottom-elements-lazy">
            <p>Its difficult to sum up all the services we offer, unless we are hell bent on boring you to death with long write ups that no one cares about. Nope, we are not doing that. </p>
            <p>Instead, allow us to confine our offerings within the bounds of your needs once you decide to connect with us. So have you decided yet ? </p>
            <p>Yes ? Well here is the link to reach us. </p>
            <p>No ? we will make sure to bore you to death with more content till you decide its enough and is easier to connect with us. </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
