<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT1.jpg"></div>
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols">
      <div class="col bg-secondary max-sm-45">
        <div class="title-holder holder-format-row">
          <h1 class="text-white mb-0">
            <span><span>Services</span></span>
          </h1>
          <hr class="primary my-1">
          <p class="ft-secondary text-dark vw-large mb-0">So here is what we can do for you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
