<div class="cover bg-contain detect-animate" data-animation="fade-in">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT2.jpg"></div>
	</div>
	<div class="cover-content align-content-right " >
		<div class="content-holder cover-flap cover-flap-a wrap-contents-mob bg-secondary-fade text-light detect-animate" data-animation="article-animation-a">
			<article class="article-holder ">
				<p ><strong>Urban Beaver</strong> has an IT implementation team who primarily work with consultancy agencies in Europe, providing technical assistance in developing solutions online. You could say we cared less about visualising solutions ourselves and instead focused on realising the solutions that were presented to us.</p>
				<p class="text-primary ft-strong">We would like to change that now. </p>
				<p>Given the immense experience working with some of the best consultancy agencies out there, we are now ready for the next leap - which is - to be become an end-to-end provider for solutions online.</p>
				<hr class="primary mb-2 mt-0">
			</article>
		</div>
	</div>

</div>