<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT1.jpg"></div>
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols title-content-fashion">
      <div class="col bg-primary-fade max-sm-45">
        <div class="title-holder holder-format-row">
          <h2 class="text-white mb-0 title">
            <span><span>PHP</span></span>
          </h2>
          <hr class="black my-1">
        </div>
      </div>
      <div class="col bg-secondary-fade ">
        <div class="article-holder text-white">
          <p class="vw-large">One of the most popular scripting languages that is easy to learn, with many of its technologies being primarily community driven. It is usually our primary choice when it comes to faster-to-market needs.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
