<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT2.jpg"></div>
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols title-content-fashion">
      <div class="col bg-primary-fade max-sm-45">
        <div class="title-holder holder-format-row">
          <h2 class="text-white mb-0 title">
            <span><span>C#</span></span>
          </h2>
          <hr class="black my-1">
        </div>
      </div>
      <div class="col bg-secondary-fade ">
        <div class="article-holder text-white">
          <p class="vw-large">The popular interpreted language backed by one of the technology giants - Microsoft. The language was such a hit among the dotnet community that it was single handedly responsible for shrinking the C++ community. This is usually our choice for clients who are already on or are planning to use Microsoft technologies. There are other reasons to choose it over PHP but that’s for another day with some beer and a boxing ring.</p>
        </div>
      </div>
    </div>
  </div>
</div>
