<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background bg-secondary">
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols">
      <div class="col bg-secondary max-sm-45">
        <div class="title-holder holder-format-row">
          <h1 class="text-white mb-0">
            <span><span>Next Steps</span></span>
          </h1>
          <hr class="primary my-1">
          <p class="ft-secondary mb-0 vw-large text-dark">Version 2 of this site</p>
        </div>
        <div class="foot-note text-light ft-secondary">
          <ul>
            <li>Plans to use Google AMP technology for targeting more conversion rates for mobile users</li>
            <li>Plans to use PWA for offline viewing and receiving mobile notifications on special offers</li>
            <li>There are several ideas in discussion including integration with 3rd party booking engines, backend reporting etc</li>
          </ul>
        </div>
      </div>
      <div class="col bg-secondary cover-holder">
        <div class="mask"></div>
        <div class="background">
          <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-casestudies3.jpg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
