<div class="cover bg-contain detect-animate" data-animation="fade-in">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-casestudies5.jpg"></div>
  </div>
  <div class="cover-content">
    <div class="content-holder cover-flap cover-flap-b">
      <div class="side-flap bg-light detect-animate" data-animation="from-left">
        <div class="logo">
          <a href="">
            <!-- partial:./graphical-assets/_logo-symbol.html -->
            <!-- partial -->
          </a>
        </div>
        <!-- <div class="page-number">
					<span class="text-dark  link ft-strong">About Us</span>
				</div> -->
      </div>
      <article class="article-content">
        <div>
          <h2 class="h1 text-black">Addressing poor backend architecture</h2>
          <div class="bg-primary p-3 px-md-5 py-md-4 text-light">
            <p class="detect-animate" data-animation="fade-in">The site was completely re-architected paying focus on improving these:</p>
            <ul class="detect-animate " data-animation="from-bottom-elements-lazy">
              <li>Easy to manage multi-language content</li>
              <li>Intuitive categorisation of content based on content categories on the frontend</li>
              <li>Easy to manage content with guidance on allowed media types, dimensions, file sizes so a non-technical admin can easily manage the entire site</li>
              <li>Easy to manage search engine content like page url name, page meta details, URL redirects, graceful 404 pages</li>
              <li>The minimum click theory is also followed on the backend, so the admin can get his intended action done in the least amount of clicks</li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
