<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background bg-secondary">
    <!-- <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT2.jpg"></div> -->
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols title-content-fashion">
      <div class="col bg-secondary max-sm-45">
        <div class="title-holder holder-format-row">
          <h2 class="text-white mb-0 title">
            <span><span>That’s it ?</span></span>
          </h2>
          <hr class="primary my-1">
          <p class="ft-secondary vw-large mb-0 text-dark">Absolutely not.</p>
        </div>
      </div>
      <div class="col bg-secondary cover-holder">
        <div class="mask"></div>
        <div class="background">
          <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT2.jpg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
