<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT4.jpg"></div>
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols title-content-fashion">
      <div class="col bg-primary-fade max-sm-45">
        <div class="title-holder holder-format-row">
          <h2 class="text-white mb-0 title">
            <span><span>Upgrading existing</span></span>
            <span><span>solution for</span></span>
            <span><span>your business.</span></span>
          </h2>
          <hr class="black my-1">
        </div>
      </div>
      <div class="col bg-secondary-fade ">
        <div class="article-holder text-white">
          <p class="vw-large">As businesses grow, it is usually the case that the existing systems begin to fall short of expectations. And setting aside a big budget for a completely new solution may not be feasible for all. </p>
          <p>Hence this case calls for a careful strategy that achieves the goal to move to a solution that can stand the test of current demands of the business, and yet remain financially and chronologically efficient for the new change to be incorporated as part of the current business processes.</p>
         <!--  <p>Well, we believe we can do this as well since we understand the relationship between money and value. We can help you choose strategies that may not employ the best technologies (often costly) and still win the game for you.</p> -->
          <p>The key here is not implementing the best solution but instead a solution that is better than the previous one in the current situation.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
