<div id="CoverFront" class="cover bg-contain detect-animate" data-animation="cover-anim-front">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-kitchen1.jpeg"></div>
	</div>
	<div class="cover-content align-content-left">
		<div class="content-holder cover-flap cover-flap-cols">
			
			<a  href="construction.html" class="col bg-primary-fade hover-enabled text-link">
				
					<div class="title-holder holder-format-row">
						<h1 class="text-white mb-0">
							<span><span>Architecture &</span></span>
							<span><span>Construction</span></span>
						</h1>
						<hr class="black my-1">
					</div>
				
				
			</a>
			<a href="IT.html" class="col bg-secondary-fade hover-enabled text-link">
				
					<div class="title-holder holder-format-row">
						<h1 class="text-white mb-0">
							<span><span>Information </span></span>
							<span><span>Technology</span></span>
						</h1>
						<hr class="primary my-1">
					</div>
				
			</a>
		</div>
	</div>
	
</div>