<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT4.jpg"></div>
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols">
      <div class="col bg-secondary max-sm-45">
        <div class="title-holder holder-format-row">
          <h1 class="text-white mb-0">
            <span><span>Technologies</span></span>
          </h1>
          <hr class="primary my-1">
          <p class="ft-secondary mb-0 vw-large text-dark">We work with a lot of technologies and listing them all out make this page lengthy enough for you to imagine that we are lying. So we will try to keep it short and interesting.</p>

          
        </div>
        <div class="foot-note text-light ft-secondary">Starting with the languages we primarily use these :</div>
      </div>
    </div>
  </div>
</div>
