<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT2.jpg"></div>
	</div>
	<div class="cover-content align-content-left">
		<div class="content-holder cover-flap cover-flap-cols title-content-fashion">
			<div class="col bg-secondary-fade max-sm-45">
						<div class="title-holder holder-format-row">
							<h2 class="text-white mb-0 title">
								<span><span>Solutions for   </span></span>
								<span><span>technical challenges within</span></span>
								<span><span>the current system.</span></span> 
							</h2>
							<hr class="primary my-1">
						</div>
			</div>
			<div class="col bg-primary-fade">
				
					<div class="article-holder text-white">
						<p class="vw-large">From a hacked site to a poor performing front end, slow databases, slow servers, insecure transactions, low conversion rates, poor code quality to a myriad of other challenges, we can help you out. </p>
						<p>Of course we don’t claim to be the one-stop-shop for all the challenges online, but we can most definitely help you out with any kind of mess you’re already in. We are well connected in the technical world and there are some wonderful individuals out there who make up for where we lack and collaborate with us to get you what you need.</p>
					</div>
				
			</div>
		</div>
	</div>
	
</div>