<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT1.jpg"></div>
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols title-content-fashion">
      <div class="col bg-primary-fade max-sm-45">
        <div class="title-holder holder-format-row">
          <h2 class="text-white mb-0 title">
            <span><span>Technology training.</span></span>
          </h2>
          <hr class="black my-1">
        </div>
      </div>
      <div class="col bg-secondary-fade ">
        <div class="article-holder text-white">
          <p class="vw-large">Are you a technology enthusiast who wants to dive deep into the online technology world and build something on your own ? Well, you just struck home ! </p>
          <p class="mt-5">At <strong class="text-primary">Urban Beaver</strong> we love contributing in our own ways to making this world smarter. Join us for a free training session (followed by awesome food and beer) at our office in Cochin. </p>
          <p>Give us a call at <a href="" class="text-primary">+919995438403</a>.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
