<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background bg-secondary">
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols">
      <div class="col bg-secondary max-sm-45">
        <div class="title-holder holder-format-row">
          <h1 class="text-white mb-0">
            <span><span>Impact</span></span>
          </h1>
          <hr class="primary my-1">
          <p class="ft-secondary mb-0 vw-large text-dark">03 Conversion rates</p>
        </div>
        <div class="foot-note text-light ft-secondary">
          Sales comparison between the earlier site as well as the current site revealed a cool 23% increase in conversion rates in the first quarter since the new site launch. 
        </div>
      </div>
      <div class="col bg-primary progress-holder">
        <div class="progress-circle" data-percent="23">
          <div class="progress-graph">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="100%" height="100%">
              <circle fill="transparent" cx="25" cy="25" r="22" stroke-width="4" class="progress-circular__underlay"></circle>
              <circle fill="transparent" cx="25" cy="25" r="22" stroke-width="4" class="progress-circular__overlay"></circle>
            </svg>
          </div>
          <div class="progress-content text-light">
            <div class="percent"><span class="number vw-large ft-strong">0</span>%</div>
            <div class="text vw-small">Visitors seemed to appreciate the attractive offers.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
