<div id="CoverBack" class="cover bg-contain detect-animate" data-animation="cover-anim-front">
	<div class="background bg-secondary">
		
	</div>
	<div class="cover-content align-content-left mobile-flex-contents">
		<div class="content-holder cover-flap cover-flap-a bg-secondary">
			<div class="title-holder align-title-center">
				<h1 class="text-white mb-0">
					<span><span>Credibility &</span></span>
					<span><span>Expertise is</span></span>
					<span><span>our trademark</span></span>
				</h1>
				<hr class="primary my-1">
				<p class="ft-secondary mb-0 vw-large text-dark">People Who Build For People</p>
			</div>

			<!-- <div class="foot-note">
				<span class="website-link">
					<a href="" class="text-white ft-secondary">www.urbanbeaver.dk</a>
				</span>
			</div> -->
		</div>
		<div class="illustrations-holder p-0">
			<div class="image-gallery-grid detect-animate" data-animation="image-grid-animation" data-delay="2">
				<div class="grid" >
					<div class="mask"></div>
					<div class="background lazyload-bg preload-background" data-src="./img/banners/ub-office1.jpeg"></div>
				</div>
				<div class="grid"> 
					<div class="mask"></div>
					<div class="background lazyload-bg preload-background" data-src="./img/banners/ub-kitchen1.jpeg"></div>
				</div>
				<div class="grid">
					<div class="mask"></div>
					<div class="background lazyload-bg preload-background" data-src="./img/banners/ub-toilet1.jpg"></div>
				</div>
				<div class="grid">
					<div class="mask"></div>
					<div class="background lazyload-bg preload-background" data-src="./img/banners/ub-room1.jpeg"></div>
				</div>

				<div class="ub-logo-holder">
					<a href="">
						<!-- partial:./graphical-assets/_logo-symbol.html --> 
       			 		<!-- partial -->
					</a>
				</div>
			</div>
		</div>
	</div>
	
</div>