<div class="cover bg-contain detect-animate" data-animation="fade-in">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-casestudies7.jpg"></div>
  </div>
  <div class="cover-content">
    <div class="content-holder cover-flap cover-flap-b">
      <div class="side-flap bg-light detect-animate" data-animation="from-left">
        <div class="logo">
          <a href="">
            <!-- partial:./graphical-assets/_logo-symbol.html -->
            <!-- partial -->
          </a>
        </div>
        <!-- <div class="page-number">
					<span class="text-dark  link ft-strong">About Us</span>
				</div> -->
      </div>
      <article class="article-content">
        <div>
          <h2 class="h1 text-black">Addressing poor UX and UI designs</h2>
          <div class="bg-primary p-3 px-md-5 py-md-4 text-light">
            <ul class="detect-animate" data-animation="from-bottom-elements-lazy">
              <li>Leading UX and UI teams were deployed on the project who designed responsively for all devices, paying particular focus on mobile devices </li>
              <li>Care was taken to let user reach his goal on the site with minimum clicks and also to highlight promotional features so as to drive more traffic to certain areas of the site. </li>
              <li>Every element on screen had a purpose and a story to tell to the user. In short, the new design had to provide complete justice to the screen real estate it consumed. </li>
              <li>For e.g. A Background video to provide a virtual tour of the resort, immediately engaging the visitor </li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
