<div id="CoverFront" class="cover bg-contain detect-animate" data-animation="cover-anim-front">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-kitchen1.jpeg"></div>
	</div>
	<div class="cover-content align-content-left">
		<div class="content-holder cover-flap cover-flap-a bg-secondary">
			<div class="logo-holder">
				<a href="./">
					<img src="./img/logo-main.png" alt="">
				</a>
			</div>
			
			<div class="title-holder">
				<h1 class="text-white mb-0">
					<span><span>Scandinavian </span></span>
					<span><span>Designs at </span></span>
					<span><span>it’s best</span></span>
				</h1>
				<hr class="primary my-1">
				<p class="ft-secondary mb-0 vw-large text-dark">Interior fit-out works</p>
			</div>

			
		</div>
	</div>
	<!-- <div class="profile-label ft-headings">PROFILE - 2019</div> -->
</div>