<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-IT3.jpg"></div>
	</div>
	<div class="cover-content align-content-left">
		<div class="content-holder cover-flap cover-flap-cols title-content-fashion">
			<div class="col bg-primary-fade max-sm-45">
						<div class="title-holder holder-format-row">
							<h2 class="text-white mb-0 title">
								<span><span>Fastest solution</span></span>
								<span><span>to market.</span></span> 
							</h2>
							<hr class="black my-1">
						</div>
			</div>
			<div class="col bg-secondary-fade">
				
					<div class="article-holder text-white">
						<p class="vw-large">If you are someone that needs to launch a website in a day, with a bare bones system in place providing all the needed activities - look no further ! Engage us and we can get it done for you. Period. </p>
						<p>We will also let you know on the pitfalls and advantages of such an approach as well as challenges in deploying and maintaining such solutions.</p>
					</div>
				
			</div>
		</div>
	</div>
	
</div>