<div id="CoverB" class="cover bg-contain detect-animate" data-animation="fade-in">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-office1.jpeg"></div>
	</div>
	<div class="cover-content">
		<div class="content-holder cover-flap cover-flap-b">
			<div class="side-flap bg-light detect-animate" data-animation="from-left">
				<div class="logo">
					<a href="">
						<!-- partial:./graphical-assets/_logo-symbol.html --> 
       			 		<!-- partial -->
					</a>
				</div>
				
				<div class="page-number ">
					<!-- <span class="number text-dark">
						<strong>2.</strong>
					</span> -->
					<span class="text-dark  link ft-strong">Solutions</span>
				</div>
			</div>
			<article class="article-content">
				<div>
					<h2 class="h1 text-black">Our Solutions</h2>
					<div class="bg-primary p-3 p-md-5 text-light detect-animate" data-animation="from-bottom-elements-lazy">
						<p><strong>Urban Beaver</strong> can offer sparring and development based on the expertise we have from the way we build in Denmark. Denmark has one of the most advanced technology and methodologies when it comes to the world of construction.</p>
						<p>We build in all kinds of climates, from -30 to +30 with absurdly high humidity in the air. In Denmark, we are challenged with high groundwater and soft soil, and this has an impact on our foundations for our construction.</p>
						<p>Urban Beaver is well equipped to meet all these challenges and is one reason why we are a good partner when it comes to construction.</p>
					</div>	
				</div>
				
			</article>
		</div>
	</div>
	
</div>