<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background bg-secondary">
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols">
      <div class="col bg-secondary max-sm-45">
        <div class="title-holder holder-format-row">
          <h1 class="text-white mb-0">
            <span><span>References</span></span>
          </h1>
          <hr class="primary my-1">
          <p class="ft-secondary mb-0 vw-large text-dark">
            <a href="" class="text-dark">https://www.fortevillageresort.com</a></p>
        </div>
      </div>
      <div class="col bg-secondary cover-holder">
        <div class="mask"></div>
        <div class="background">
          <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-casestudies4.jpg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
