<div id="CoverBack1" class="cover bg-contain detect-animate" data-animation="fade-in">
	<div class="background bg-light">
		
	</div>
	<div class="cover-content">
		<div class="content-holder cover-flap-c">
			<div class="cover-back-logo-holder my-auto">
				<a href=""><img src="./img/logo-trans.png" alt=""></a>
			</div>

			<div class="foot-note text-center">
				<span class="ft-medium">Office:</span> Urban Beaver, 4th Floor, MM towers, Kakkanad, Kerala - 682030 <br>
				<span class="ft-medium">Phone:</span> <a href="" class="text-primary ft-strong">+91 86066 06054</a>  
				<span class="ft-medium">Email:</span> <a href="" class="text-primary ft-strong">contact@urbanbeaver.dk</a>  
				<!-- <span class="ft-medium">Website:</span> <a href="" class="text-primary ft-strong">www.urbanbeaver.dk</a> -->
			</div>
		</div>
		
	</div>
</div>