<div id="CoverB1" class="cover bg-contain detect-animate" data-animation="fade-in">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-kitchen1.jpeg"></div>
	</div>
	<div class="cover-content align-content-right " >
		<div class="illustrations-holder " >
			<div class="feature-lists detect-animate" data-animation="from-bottom-elements-lazy">
				<div class="feature-grid">
					<div class="icon-holder">
						<img src="./img/icon-flat-white.png" alt="">
					</div>
					<div class="text-holder">
						Architectural <br> Solutions
					</div>
				</div>
				<div class="feature-grid">
					<div class="icon-holder"><img src="./img/icon-calc-white.png" alt=""></div>
					<div class="text-holder">
						Volume <br> Calculations
					</div>
				</div>
				<div class="feature-grid">
					<div class="icon-holder"><img src="./img/icon-planing-white.png" alt=""></div>
					<div class="text-holder">
						Time <br> Planning
					</div>
				</div>
			</div>
		</div>
		<div class="content-holder cover-flap cover-flap-a wrap-contents-mob bg-secondary-fade text-light detect-animate" data-animation="article-animation-a">
			<article class="article-holder  vw-large">
				<p><strong>Urban Beaver</strong> can offer education in the Danish platform within construction, such as for construction manager, site manager, carpenter, mason, plumber, electrician, interiors, space management, interior design and 3D simulation.</p>
				<p>You can even take certifications from on the above at Urban Beaver if you pass our exams.</p>
				<hr class="primary mb-2 mt-0">
			</article>
			
			<div class="foot-note mt-5">
				Contact Mr. <strong class="text-primary">Ken Olsen</strong> at <a href="" class="text-primary"><strong>ko@urbanbeaver.dk</strong></a> for details. 
			</div>
		</div>
	</div>

</div>