<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-casestudies1.jpg"></div>
	</div>
	<div class="cover-content align-content-left">
		<div class="content-holder cover-flap cover-flap-cols">
			
			<div class="col bg-primary-fade max-sm-45">
				
					<div class="title-holder holder-format-row">
						<h1 class="text-white mb-0">
							<span><span>Outline</span></span> 
						</h1>
						<hr class="black my-1">
						<p class="ft-secondary mb-0 vw-large text-dark">Each of the case study is divided into 4 sections as shown on the right.</p>
					</div>
				
			</div>
			<div class="col bg-secondary-fade">
				
					<div class="title-holder holder-format-row">
						<h3 class="text-white mb-0 title">
							<span class="my-2"><span><a href="" class="text-light">The Problem</a></span></span>
							<span class="my-2"><span><a href="" class="text-light">Implemented Solution</a></span></span>
							<span class="my-2"><span><a href="" class="text-light">Impact</a></span></span>
							<span class="my-2"><span><a href="" class="text-light">Next Steps</a></span></span>
						</h3>
						<hr class="primary my-1">
					</div>
				
			</div>
		</div>
	</div>
	
</div>