<div class="cover bg-contain detect-animate" data-animation="cover-anim-front">
  <div class="background bg-secondary">
  </div>
  <div class="cover-content align-content-left">
    <div class="content-holder cover-flap cover-flap-cols">
      <div class="col bg-secondary max-sm-45">
        <div class="title-holder holder-format-row">
          <h1 class="text-white mb-0">
            <span><span>Impact</span></span>
          </h1>
          <hr class="primary my-1">
          <p class="ft-secondary mb-0 vw-large text-dark">04 Site traffic</p>
        </div>
        <div class="foot-note text-light ft-secondary">
          The site traffic increased double fold, thanks to the social channels and search engines who ranked and promoted the site contents as planned. 
        </div>
      </div>
      <div class="col bg-primary ">
        <div class="article-holder text-light">
          <h2>200%</h2>
          <p>This is the figure that really did justice to the reality of Forte Village. Of course this meant an indirect uptrend for sales, but now we had a lot more people aware of this wonderful resort. </p>
        </div>
      </div>
    </div>
  </div>
</div>
