<div id="CoverC" class="cover bg-contain detect-animate" data-animation="fade-in">
	<div class="background">
		<div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-office1.jpeg"></div>
	</div>
	<div class="cover-content bg-primary-fade">
		<div class="content-holder cover-flap cover-flap-b">
			<div class="side-flap bg-light detect-animate" data-animation="from-left">
				<div class="logo">
					<a href="">
						<!-- partial:./graphical-assets/_logo-symbol.html --> 
       			 		<!-- partial -->
					</a>
				</div>
				
				<div class="page-number ft-secondary">
					<span class="number text-dark">
						<strong>3.</strong>
					</span>
					<a href="" class="text-dark  link">www.urbanbeaver.dk</a>
				</div>
			</div>
			<article class="article-content" >
				<div>
					<div>
						<h2 class="h1 text-black">Why Urban Beaver?</h2>
						<div class="text-light detect-animate" data-animation="article-animation-a">
							<div class="article-holder">
								<p>In cooperation with customers and advisors, we design and construct everything from office and storey dwellings with interior design - for the villas and row houses & more. </p>
								<hr class="black">
							</div>
						</div>	
					</div>
					<div class="detect-animate mt-4" data-animation="fade-in">
						<h2 class="text-light">Few Facts</h2>
						<div class="facts-list detect-animate" data-animation="from-bottom-elements-lazy">
							<div class="fact-grid">
								<div class="icon-holder"><img src="./img/icon-engineer.png" alt=""></div>
								<div class="text-holder text-light">Experienced Employees </div>
							</div>
							<div class="fact-grid">
								<div class="icon-holder"><img src="./img/icon-expand.png" alt=""></div>
								<div class="text-holder text-light">Large Production Capacity </div>
							</div>
							<div class="fact-grid">
								<div class="icon-holder"><img src="./img/icon-cargo.png" alt=""></div>
								<div class="text-holder text-light">Faster <br> Delivery </div>
							</div>
							<div class="fact-grid">
								<div class="icon-holder"><img src="./img/icon-security.png" alt=""></div>
								<div class="text-holder text-light">International Quality Standards </div>
							</div>
						</div>
					</div>
					
				</div>
				
			</article>
		</div>
	</div>
	
</div>