<div class="cover bg-contain detect-animate" data-animation="fade-in">
  <div class="background">
    <div class="bg-img lazyload-bg preload-background" data-src="./img/banners/ub-casestudies9.jpg"></div>
  </div>
  <div class="cover-content">
    <div class="content-holder cover-flap cover-flap-b">
      <div class="side-flap bg-light detect-animate" data-animation="from-left">
        <div class="logo">
          <a href="">
            <!-- partial:./graphical-assets/_logo-symbol.html -->
            <!-- partial -->
          </a>
        </div>
        <!-- <div class="page-number">
					<span class="text-dark  link ft-strong">About Us</span>
				</div> -->
      </div>
      <article class="article-content">
        <div>
          <h2 class="h1 text-black">Addressing lower conversion rates</h2>
          <div class="bg-primary p-3 p-md-5 text-light">
            <p class="detect-animate" data-animation="fade-in">Offers drive conversion rates and therefore many functionality around offers were built such as: </p>
            <ul class="detect-animate " data-animation="from-bottom-elements-lazy">
              <li>Booking</li>
              <li>Request form for best offer </li>
              <li>Occasion based promotion hero banners and pages</li>
              <li>Special offers</li>
              <li>Packages</li>
              <li>Meeting and Events</li>
              <li>Activity Calendar</li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
