.preload-background {
	background-image: url('#{$image-path}/preload_pattern.png')!important;
    background-repeat: repeat!important;
    background-color: transparent!important;
    background-attachment: scroll!important;
    background-size: inherit!important;
    animation: animatedBackground 40s linear infinite;
    -webkit-animation: animatedBackground 40s linear infinite;
}



.bg-contain{
	position: relative;
	z-index: 1;
	overflow: hidden; 
}

.background{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	> .bg-img
	{
		width: 100%;
		height: 100%;
		background-size: cover; 
		background-position: center center;
	}
}