.main-header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;

	.header-container{
		padding: 10px 10%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media-breakpoint-up(sm){
			padding: 20px 10%;
		}
	}
	.logo-holder
	{
		width: 80%;
		@include media-breakpoint-up(sm){
			width: 55%;
		}
		
		> a{
			display: block;

		}
		img{
			display: block;
			width: 100%;
		}
	}
}