// base
body{
	overflow: hidden;
	#main-wrapper{
		opacity: 0;
	}
	
}

.finished-loading-anim{
	body{
		overflow: auto;
	}
}


.content-scroller
{
	@include media-breakpoint-up(sm){
		height: 100vh;
		overflow: hidden;
		overflow-y: auto;
		position: relative;
		z-index: 2;
	}
	
}


.fp-scroller
{
	transition: transform ease 0.3s!important;
}